body{
    text-align: center;
}
.btn{
    min-width: 115px;
    min-height: 115px;
    height: 16vw;
    width: 16vw;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}

